* {
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
  color: #ffffff;
}

body {
  font-family: "Open Sans", sans-serif;
}

footer {
  color: #c2c2c2;
}
li a {
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
}

#selector {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.black-bg {
  background-color: black;
}
.centered {
  text-align: center;
}

.big {
  text-transform: uppercase;
}

.logo {
  margin-top: 25vh;
  margin-bottom: 3vh;
}

.bottom {
  margin-top: 22vh;
  color: #c2c2c2;
  margin-bottom: 18vh;
}

li .imgBG {
  background-size: cover;
  display: flex;
  width: 100%;
  max-width: 600px;
  height: 30vh;
}

li p {
  text-decoration: none;
  max-width: 600px;
  display: inline-block;
  text-align: center;
  font-size: 1.5rem;
  background: black;
  opacity: 0.5;
  margin-top: auto;
}

/* for screen sizes bigger than mobile */
@media screen and (min-width: 600px) {
  ul {
    columns: 3;
    column-gap: 0;
  }
}

/* for desktop screen sizes */
@media screen and (min-width: 1000px) {
  ul {
    columns: 4;
  }
}
