@import "partials/_mixins.scss";
@import "partials/_variables.scss";

//fonts and resets are in /css folder

* {
  box-sizing: border-box;
  outline: none;
}
html {
  font-size: $font-family-default;
  color: $white;
}
body {
  font-family: $font-family-default, $font-safe;
}
footer {
  color: $grey-color;
}

//styling for stories added by .js
li {
  a {
    text-decoration: none;
    font-size: $font-family-default;
    color: $white;
  }
  .imgBG {
    background-size: cover;
    display: flex;
    width: 100%;
    max-width: $max-width;
    height: 50vh;
  }
  p {
    text-decoration: none;
    max-width: $max-width;
    display: inline-block;
    text-align: center;
    font-size: 1.5rem;
    background: $black;
    opacity: 0.5;
    margin-top: auto;
  }
  &:hover {
    p {
      opacity: 1;
    }
  }
}
#selector {
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.black-bg {
  background-color: $black;
}
.centered {
  text-align: center;
}
.big {
  text-transform: uppercase;
}
.logo {
  margin-top: 25vh;
  margin-bottom: 3vh;
}
.bottom {
  margin-top: 22vh;
  color: $grey-color;
  margin-bottom: 18vh;
}

// for tablets over 600px wide
@media screen and(min-width: 600px) {
  ul {
    columns: 3;
    column-gap: 0;
  }
  footer {
    text-align: left;
    margin-left: 2rem;
  }
  section {
    display: inline-block;
  }
  li p {
    font-size: 1rem;
  }
  .centered {
    text-align: left;
  }
  .select {
    // position: absolute;
    top: 30vh;
    margin-left: 4rem;
  }
  .header--active {
    background-color: black;
    width: auto;
    height: 17vh;
    margin: 0;

    .logo {
      margin-top: 0;
      transform: scale(0.4);
      transform: translate(100%, 0);
    }
    .select {
      transform: scale(1);
      transform: translate(200%, -100%);
    }
  }

  // for desktops over 1000px wide
  @media screen and(min-width: 1000px) {
    ul {
      columns: 4;
    }

    .header--active {
      .logo {
        transform: scale(0.4);
      }
      .select {
        transform: scale(1);
        transform: translate(-10%, -100%);
      }
    }
  }
}
