@import "partials/_mixins.scss";
@import "partials/_variables.scss";
//fonts, reset and selectric are in /css folder

* {
  box-sizing: border-box;
  outline: none;
}
html {
  font-size: $font-size-default;
  color: $white;
}
body {
  font-family: $font-family-default, $font-safe;
  height: 100vh;
}
footer {
  margin-top: 33vh;
  color: $grey-color;
}
// active state shrinks footer when selector is chaged
.footer--active {
  margin-top: 5vh;
  margin-bottom: 7vh;
}
h3 {
  margin-top: 4vh;
  margin-bottom: 3vh;
}

//styling for stories added by api request in scripts.js
li {
  a {
    text-decoration: none;
    font-size: $font-size-default;
    color: $white;
  }
  .imgBG {
    background-size: cover;
    display: flex;
    width: 100%;
    max-width: $max-width;
    height: 420px;
    background-position: 50%;
  }
  p {
    text-decoration: none;
    max-width: $max-width;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-top: auto;
    transition-duration: 0.5s;
  }
}
.selector {
  margin-top: 2vh;
  margin-bottom: 10vh;
}

.logo-select {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.logo {
  margin-top: 15vh;
}
.black-bg {
  background-color: $black;
}
.alignment {
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}

.loading {
  text-align: center;
}

.header--active {
  margin-bottom: 10vh;
}

// for tablets over 600px wide
@media screen and(min-width: 600px) {
  ul.stories {
    vertical-align: top;
    columns: 3;
    column-gap: 0;
  }
  footer {
    text-align: left;
    margin-left: 2rem;
  }
  section {
    display: inline-block;
  }
  h3 {
    margin-top: auto;
  }
  li p {
    font-size: 1rem;
  }

  .logo {
    margin-top: auto;
    margin-left: 2rem;
    margin-right: 3rem;
  }
  .logo-select {
    flex-direction: row;
    margin-top: 25vh;
    align-items: center;
    justify-content: center;
  }
  .alignment {
    text-align: left;
  }

  // shrinks header to top of page when selector is changed
  .header--active {
    transition-duration: 1s;
    background-color: black;
    width: auto;
    height: auto;
    margin: 0;
    .logo {
      transition-duration: 1s;
      max-width: 7rem;
      padding: 1.5rem;
    }
  }

  // for desktops over 1000px wide
  @media screen and(min-width: 1000px) {
    ul.stories {
      columns: 4;
    }
    li {
      a {
        &:hover {
          p {
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.6);
          }
        }
      }
      p {
        opacity: 0;
        transition-duration: 0.5s;
      }
    }

    .logo-select {
      justify-content: left;
    }
  }
}
