//colors
$white: #ffffff;
$grey-color: #c2c2c2;
$black: black;

//fonts
$font-family-default: Open Sans;
$font-safe: sans-serif;
$font-size-default: 16px;

//constants
$max-width: 600px;
$full-width: 100%;
$desktop-width: 1000px;
$tablet-width: 600px;
